Space/Library/
Space/Game/
Space/Temp/
Space/.vs/
Space/Assembly-CSharp.csproj
Space/Assembly-CSharp-Editor.csproj
Space/Assembly-CSharp-firstpass.csproj
Space/Space.csproj
Space/Space.Editor.cspro
Space/Space.Plugins.csproj
Space/Space.sln
Space/obj/
Space/UIElementsSchema/
Space/Logs/
Space/Export/
Space/Assets/UnsignedResources/
Space/Assets/UnusedResources/
Space/Packages/
Space/Game.zip
