Space/Library/
Space/Game/
Space/Temp/
Space/.vs/
Space/Assembly-CSharp.csproj
Space/Assembly-CSharp-Editor.csproj
Space/Assembly-CSharp-firstpass.csproj
Space/Space.csproj
Space/Space.Editor.cspro
Space/Space.Plugins.csproj
Space/Space.sln
Space/obj/
Space/UIElementsSchema/
Space/Logs/
Space/Export/
Space/Assets/UnsignedResources/
Space/Assets/UnusedResources/
Space/Packages/
Space/Game.zip
Godless Lands/Assembly-CSharp-firstpass.csproj
Godless Lands/Godless Lands.sln
Godless Lands/Unity.Postprocessing.Runtime.csproj
Godless Lands/Unity.Postprocessing.Editor.csproj
Godless Lands/.vs/
Godless Lands/Assets/UnusedResources/
Godless Lands/Library/
Godless Lands/Packages/
Godless Lands/Temp/
Godless Lands/Export/
Godless Lands/obj/
Godless Lands/Assembly-CSharp.csproj
